<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/partials/header.css">
  <link rel="stylesheet" href="./styles/give-classes.css">
  <link rel="stylesheet" href="./styles/responsive.css">
  <link rel="shortcut icon" href="./images/favicon.png" type="image/png">
  <script src="./scripts/addNewTimeField.js"></script>
  <title>Proffy | Estudar</title>
</head>
<body>
  <div id="page-study">
    <header>
      <a href="/">
        <img src="./images/icons/back.svg" alt="Back">
      </a>
      <img src="./images/logo.svg" alt="Logo" id="logo">
    </header>
    <div id="content">
      <section>
        <h1 class="title">Que incrível que você quer dar aulas</h1>
        <p class="subtitle">O primeiro passo é preencher o formulário abaixo</p>
        <form action="/save-classes" method="POST">
          <h1 class="category-title">Seus dados</h1>
          <hr />
          <fieldset>
            <legend>Nome completo</legend>
            <input type="text" name="name" class="field" required>
          </fieldset>
          <fieldset>
            <legend>Imagem (Foto)</legend>
            <input type="url" name="avatar" class="field" required>
          </fieldset>
          <fieldset>
            <legend>Whatsapp</legend>
            <input type="text" name="whatsapp" class="field" required>
          </fieldset>
          <fieldset>
            <legend>Biografia</legend>
            <textarea name="bio" id="teacher-description" class="field" cols="30" rows="4" required>

            </textarea>
          </fieldset>

          <h1 class="category-title">Sobre a aula</h1>
          <hr />
          <fieldset>
            <legend>Matéria</legend>
            <select name="subject" class="field" required>
              <option value="" disabled>Selecione uma matéria</option>
              {% for subject in subjects %}
                <option value="{{loop.index}}">{{subject}}</option>
              {% endfor %}
            </select>
          </fieldset>
          <fieldset>
            <legend>Custo Hora/Aula (Reais)</legend>
            <input type="number" name="cost" class="field" required>
          </fieldset>

          <div class="times-header">
            <h1 class="category-title">Horários disponíveis</h1>
            <button class="new-time" type="button" id="add-new-time">+ Novo horário</button>
          </div>
          <hr />

          <div id="times-selections">
            <div class="times-selection">
              <fieldset>
                <legend>Dia da semana</legend>
                <select name="weekday" class="day-selection field" required>
                  <option value="" disabled>Selecione um dia</option>
                  {% for weekday in weekdays %}
                    <option value="{{loop.index}}">{{weekday}}</option>
                  {% endfor %} 
                </select>
              </fieldset>
              <fieldset>
                <legend>Das</legend>
                <input type="time" name="time_from" class="hour-selection-start field" required>
              </fieldset>
              <fieldset>
                <legend>Até</legend>
                <input type="time" name="time_to" class="hour-selection-end field" required>
              </fieldset>
            </div>
          </div>

          <div class="form-footer">
            <div class="info">
              <img src="./images/icons/warning.svg" alt="warning">
              <div class="warning-text">
                <p>Importante!</p>
                <p>Preencha todos os dados.</p>
              </div>
            </div>
            <div>
              <button type="submit" class="button">
                Salvar cadastro
              </button>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</body>
</html>