<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/partials/header.css">
  <link rel="stylesheet" href="./styles/page-study.css">
  <link rel="stylesheet" href="./styles/responsive.css">
  <link rel="shortcut icon" href="./images/favicon.png" type="image/png">
  <title>Proffy | Estudar</title>
</head>
<body>
  <div id="page-study">
    <header>
      <a href="/">
        <img src="./images/icons/back.svg" alt="Back">
      </a>
      <img src="./images/logo.svg" alt="Logo" id="logo">
    </header>
    <div id="content">
      <section>
        <h1>Estes são os proffys disponíveis.</h1>
        <form action="">
          <fieldset>
            <legend>Matéria</legend>
            <select name="subject" id="subject-selection" class="field">
              <option value="" disabled>Selecione uma matéria</option>
              {% for subject in subjects %}
                <option value="{{loop.index}}" {{ "selected" if filters.subject == loop.index }}>{{subject}}</option>
              {% endfor %}
            </select>
          </fieldset>
          <fieldset>
            <legend>Dia da semana</legend>
            <select name="weekday" id="weekday-selection" class="field">
              <option value="" disabled>Selecione um dia</option>
              {% for weekday in weekdays %}
                <option value="{{loop.index}}" {{ "selected" if filters.weekday == loop.index }}>{{weekday}}</option>
              {% endfor %}
            </select>
          </fieldset>
          <fieldset>
            <legend>Horário</legend>
            <input type="time" name="hours" id="hour-selection" class="field">
          </fieldset>
          <button type="submit" class="submit-btn">Filtrar</button>
        </form>
      </section>

      <main class="cards">
        {% if proffys == "" %}
          <h2 id="has-not-proffy">Nenhum professor encontrado!</h2>
        {% else %}
          {% for proffy in proffys %}
            <div class="card">
              <div class="card-header">
                <img src="{{ proffy.avatar }}" alt="{{ proffy.name }} Image" class="avatar">
                <div class="teacher-info">
                  <h2 class="teacher-name">{{ proffy.name }}</h2>
                  <p class="subject">{{ proffy.subject }}</p>
                </div>
              </div>
              <div class="card-description">
                <p>
                  {{ proffy.bio }}
                </p>
              </div>
              <div class="card-footer">
                <div class="price">
                  <p>Preço/hora</p>
                  <h4 class="price-field">R$ {{ proffy.cost }}</h4>
                </div>
                <div class="contact">
                  <a 
                    href="https://api.whatsapp.com/send?phone=55{{ proffy.whatsapp }}&text=Vi o seu perfil no Proffy, tenho interesse na sua aula de {{ proffy.subject }}, {{ proffy.name }}." 
                    class="button"
                    target="_blank"
                  >
                    <img src="./images/icons/whatsapp.svg" alt="whatsapp">
                    <p>Entrar em contato</p>
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
                  
      </main>
    </div>
  </div>
</body>
</html>