* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

#content {
  max-width: 650px;
  margin: 0 auto;
  margin-top: 10px;
}

#content section .title {
  width: 50%;
  color: white;
  font-size: 36px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

#content section .subtitle {
  color: #D4C2FF;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

#content section form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  color: gray;
  font-size: 15px;
  padding: 40px 50px;
}

form .times-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .category-title {
  color: #1c0550;
  font-size: 24px;
  margin-top: 30px;
}

hr {
  color: grey;
  opacity: 40%;
  size: 1px;
  width: 100%;
  margin: 10px 0 20px;
}

form #times-selection {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 3fr 3fr;
  column-gap: 10px;
  row-gap: 30px;
}

form fieldset {
  border: 0;
  width: 100%;
}

form .field {
  margin: 10px 0 20px;
  width: 100%;
  padding: 15px 20px;
  font-size: 18px;
  color: gray;
  border: 1px solid #8080802e;
  border-radius: 5px;
  outline: 0;
  background-color: #8080800e;
}

form .field:focus {
  border-bottom: 2px solid #6842c2;
}

form .new-time {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 700;
  color: #6842c2;
}

form .form-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  border-top: 1px solid #D4C2FF90;
  padding: 40px 0 20px;
}

form .info {
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form .button {
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 700;
  background: #00eb67;
  outline: 0;
  padding: 12px 45px;
  border-radius: 6px;
}
