* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Cambria, Georgia, 'Times New Roman', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #8257E5;
}

#homepage {
  max-width: 1200px;
  margin: 0 auto;
}

#homepage #container1 {
  max-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8vh;
}

#container1 .subtitle {
  max-width: 300px;
  color: #D4C2FF; 
  margin-top: 10px;
  font-size: 30px;
  font-weight: 400;
}

#homepage #container2 {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#homepage #container2 .text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D4C2FF;
}

#container2 .text p {
  margin-right: 10px;
}

#container2 .buttons {
  display: flex;
}

.btn {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: white;
  font-size: 14px;
  border: 0;
  border-radius: 8px;
  transition: 0.5s ease;
}

.btn1 {
  margin-right: 30px;
  padding: 15px 68px;
  background: #ae12f4;
}

.btn2 {
  padding: 15px 62px;
  background: #00eb67;
}

.btn:hover {
  transform: scale(1.02);
}

.btn1:hover {
  background: #6842c2;
}

.btn2:hover {
  background: #04BF58;
}